{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline"><a class="post-link" href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}{{ T "draft" }}{{end}}</a></h1>
        <p class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="date-published">
        {{- if .Site.Params.dateform -}}
            {{- .Date.Format .Site.Params.dateform -}}
        {{- else -}}
            {{- .Date.Format "2006-01-02" -}}
        {{- end -}}
        </time>
            {{- partial "categories.html" . -}}
            {{- partial "tags.html" . -}}
        </p>
    </header>
    <div class="post-content" itemprop="articleBody">
        {{- .Content -}}
    </div>
{{- partial "fleuron" -}}
</article>
{{- if .Site.DisqusShortname -}}{{- partial "comments-disqus" . -}}{{- end -}}
{{- if .Site.Params.staticman -}}{{- partial "staticman-comments" . -}}{{- end -}}
{{ end }}
