<article class="post">
    <header class="post-header">
        <h1 class="post-title"><a class="post-link" href="{{ .Permalink }}">{{ .Title }}{{ if .Draft }}{{ T "draft" }}{{end}}</a></h1>
        <p class="post-meta">
            {{- if isset .Site.Params "dateform" -}}
                {{- .Date.Format .Site.Params.dateform -}}
            {{- else -}}
                {{- .Date.Format "2006-01-02" -}}
            {{- end -}}
            {{- partial "categories.html" . -}}
            {{- partial "tags.html" . -}}
        </p>
    </header>
    {{- if .Truncated -}}
    <div class="post-content">
        {{- .Summary -}}
    </div>
    <div>
        <p class="post-continue">
            <a href='{{ .RelPermalink }}'>{{ T "read-on" }} &rarr;</a>
        </p>
    </div>
    {{-  else -}}
    <div class="post-content">
        {{- .Content -}}
    </div>
    {{- end -}}
</article>
