{{ define "main" }}
<article class="post">
    <header class="post-header">
        <h1 class="post-title"><a class="post-link" href="{{ .Permalink }}">{{- T "about" -}}</a></h1>
    </header>
    <div class="post-content">
        {{- .Content -}}
    </div>
{{- partial "fleuron" -}}
</article>
{{- if .Site.DisqusShortname -}}{{- partial "comments.html" . -}}{{- end -}}
{{- partial "staticman-comments" . -}}
{{ end }}
