{{ define "main" }}
    <header class="post-header">
        <h1><a class="post-link" href="{{ .Permalink }}">{{- T "archive" -}}</a></h1>
    </header>
    {{- range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) -}}
        <span class="post-meta">
        {{- .Date.Format "2006-01-02" -}}
        {{- partial "categories.html" . -}}
        {{- partial "tags.html" . -}}
        </span>
        <h2><a class="post-link" href="{{ .Permalink }}">{{- .Title -}}</a></h2>
    {{- end -}}
{{ end }}
