<!DOCTYPE html>
<html lang='{{ $.Site.LanguageCode | default "en" }}'>
    {{-  partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main class="page-content twemoji" aria-label="Content">
        <div class="wrapper">
            {{- block "main" . }}{{- end }}
        </div>
        </main>
        {{- partial "footer.html" . -}}
        {{- partial "twemoji" . -}}
    </body>
</html>
