<div id="disqus_thread" class="disqus-comment">
    <p class="disqus-box"><a href="#" onclick="loadDisqus();return false;">
        <span>{{- T "show-comment" -}}</span>
    </a></p>
</div>

<script>
    var disqus_shortname = {{ .Site.DisqusShortname }};
    var disqus_config = function () {
        this.page.title = {{ .Title }};
        this.page.url = {{ .Permalink }};
        this.page.identifier = {{ .Permalink }};
    };
    var is_disqus_loaded = false;
    function loadDisqus() {
        if (window.location.hostname == "localhost")
            return;
        if (!is_disqus_loaded){
            is_disqus_loaded = true;
            var d = document, s = d.createElement('script');
            s.src = '//' + disqus_shortname +'.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    };
</script>
