<footer class="site-footer">
<div class="wrapper">
<p>
    {{ if isset .Site.Params "author" }}&copy; 2019 {{- .Site.Params.author -}} - {{ end }}
    Powered by <a href="https://gohugo.io">Hugo</a> &amp; <a href="/">whiteglass</a>
</p>
</div>
</footer>
