<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    </title>
    {{- with and .IsHome $.Site.Params.description -}}
        <meta name="description" content="{{ . }}"/>
    {{- else -}}
        {{- if eq .Type "post" -}}
        {{- with .Keywords -}}<meta content="{{ delimit . ", " }}" name="keywords">{{- end -}}
        {{- with .Description -}}<meta name="description" content="{{ . }}"/>{{- end -}}
        {{- end -}}
    {{- end -}}

    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
    {{ $style := resources.Get "main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{- partial "fonts.html" . -}}
</head>
