<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
    <nav class="site-nav">
        {{- range .Site.Menus.main -}}
            <a class="page-link" href="{{ .URL }}" title="{{ .Title }}">{{- T .Name -}}</a>
        {{- end -}}
    </nav>
  </div>
</header>
