{{ $paginator := $.Paginator }}
{{ if gt (len $paginator.Pagers) 1 }}
<div class="pagination">
  {{- with $paginator.Next -}}
  <a class="previous" href="{{ .URL }}">
      &laquo;  {{- T "older" -}}
  </a>
  {{- end -}}

  {{- with $paginator.Prev -}}
  <a class="next" href="{{ .URL }}">
      {{- T "newer" -}}  &raquo;
  </a>
  {{- end -}}
</div>
{{ end }}
