<section class="post-content staticman-comments">
  {{ $slug :=  replace .RelPermalink "/"  ""  }}
  {{ if isset $.Site.Data.comments $slug}}
    {{ $comments := index $.Site.Data.comments $slug }}
    {{ with $comments }}{{ range sort $comments "date" "desc" }}
       <div class="staticman-post-comment">
          <div>
             <img class="staticman-post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
             <p class="staticman-post-comment-info"><strong>{{ .name }}</strong><br>{{ dateFormat "2006-01-02" .date }}</p>
          </div>
          {{ .comment | markdownify }}
       </div>
  {{ end }}{{ end }}
  {{ else }}
  <p>{{ T "no-comment"}}</p>
  {{ end }}
  <h3>{{ T "leaveComment" }}</h3>
  <form method="POST" action="{{ .Site.Params.staticman.api }}">
  <fieldset class="sc-fieldset">
  <input name="options[redirect]" type="hidden" value="{{ .Permalink }}#comment-submitted">
  <input name="options[slug]" type="hidden" value="{{ replace .RelPermalink "/" "" }}">
  <label><textarea class="sc-textarea" name="fields[comment]" placeholder="comment"></textarea></label>
  <label><input class="sc-input" name="fields[name]" type="text" placeholder="name"></label>
  <label><input class="sc-input" name="fields[email]" type="email" placeholder="email"></label>
  <label><input class="sc-hp" name="fields[honeypot]" type="text"></label>
  <button class="btn" type="submit">Submit</button>
  <button class="btn" type="reset" value="Reset">Reset</button>
  </fieldset>
  </form>

<div id="comment-submitted" class="staticman-submitted-dialog">
<h3>Thank you</h3>
  <p>Your comment has been submitted and will be published once it has been approved.</p>
  <p><a href="#">OK</a></p>
</div>
</section>


