{{ define "main" }}
    <ul class="post-list">
        {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") }}
        {{- range $paginator.Pages -}}
            <li> {{ .Render "summary" }}</li>
        {{- end -}}
     </ul>
    {{- partial "pagination.html" . -}}
{{ end }}
