<!DOCTYPE html>
<html lang='{{ $.Site.LanguageCode | default "en" }}'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{- T "tag-archive" -}}{{ T "colon" }}
        {{- if T .Title -}}
            {{ T .Title }} - {{ .Site.Title }}
        {{- else -}}
            {{ .Title }} - {{ .Site.Title }}
        {{- end -}}
    </title>
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
    {{ $style := resources.Get "main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{- partial "fonts.html" . -}}
</head>
<body>
    {{- partial "header.html" . -}}
    <main class="page-content" aria-label="Content">
    <div class="wrapper">
    <header class="post-header">
        <h1><a class="post-link" href="{{ .Permalink }}">
            {{- T "tag-archive" -}}{{ T "colon" }}
            {{- if T .Title -}}
                {{- T .Title -}}
            {{- else -}}
                {{- .Title -}}
            {{- end -}}
        </a></h1>
    </header>
        {{- range .Data.Pages -}}
            <span class="post-meta">
                {{- .Date.Format "2006-01-02" -}}
                {{- partial "categories.html" . -}}
                {{- partial "tags.html" . -}}
            </span>
            <h2><a class="post-link" href="{{ .RelPermalink }}">{{- .Title -}}</a></h2>
        {{- end -}}
    </div>
    </main>
    {{- partial "footer.html" . -}}
</body>
</html>
